*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 0.8rem;
  font-family: "CodeNext", sans-serif;
  color: var(--white);
  background-color: var(--Dark-Blue);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: var(--Yallow);
}
p {
  color: var(--White);
}
input {
  outline: none;
  border: none;
  font-family: "CodeNext", sans-serif;
}
textarea {
  font-family: "CodeNext", sans-serif;
  outline: none;
  border: none;
}
